@using Calories_Calculator.Models;
@using System.Collections;
@model Result;

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Delete Result</h1>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" disabled class="form-control"></input>
        </div>
        <div class="mb-3">
            <label asp-for="Calories"></label>
            <input asp-for="Calories" disabled class="form-control"></input>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Results" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>