@model IEnumerable<Result>;
@{
    ViewData["Title"] = "Results";
}
<div class="">
    <h1 class="display-4">Results List</h1><br>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr class="table-active">
                <td width="50%">@x.Date</td>
                <td width="40%">@x.Calories</td>
                <td  width="30%">
                    <a asp-controller="Results" asp-action="Delete" asp-route-id="@x.Id" class="btn btn-primary">
                          Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>