@{
    ViewData["Title"] = "Home Page";
}
<div class="center">
    <h1 class="display-4">Calorie Calculator</h1>
</div>
<p >Use the calorie calculator to estimate the number of daily calories your body needs to maintain your current weight. </p>
<p>This value is multiplied by an activity factor (generally 1.2-1.9), dependent on a person's typical levels of exercise, in order to obtain a more realistic value for maintaining body-weight. </p>
<p>1 kg equates to about 7716.179 calories. </p>
<p>As such, in order to lose 1 kg per week, it is recommended that 1100 calories be shaved off the estimate of calories necessary for weight maintenance per day.</p> 
<p>For example, if a person has an estimated allotment of 2,500 calories per day to maintain body-weight, consuming 1,400 calories per day for one week would theoretically result in 7716.179 calories (or 1 kg) lost during the period.</p>

<p>If you're pregnant or breast-feeding, are a competitive athlete, or have a metabolic disease, such as diabetes, the calorie calculator may overestimate or underestimate your actual calorie needs.</p>